<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FastFastRider</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.862410060924-350bglh4dbr76otd3sr07id5frrmgl08</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<string>No</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>FastFast Rider would like access to your camera for identity purposes</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>FastFast Rider would like to access your location to enable you receive orders around you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>FastFast Rider would like to access your location to enable you receive orders around you</string>
	<key>NSMotionUsageDescription</key>
	<string>FastFast Rider would like to access your location to enable you receive orders around you</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>FastFast Rider would like to access your gallery to enable you choose a stored product image</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FastFast Rider would like to access your gallery to enable you choose a stored product image</string>
	<key>UIAppFonts</key>
	<array>
		<string>Rany.otf</string>
		<string>RanyBold Italic.otf</string>
		<string>RanyBold.otf</string>
		<string>RanyItalic.otf</string>
		<string>RanyLight Italic.otf</string>
		<string>RanyLight.otf</string>
		<string>RanyMedium Italic.otf</string>
		<string>RanyMedium.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>location</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
